<template>
    <div>
        <div className="snap-mandatory h-screen overflow-y-auto snap-y scroll-smooth App">
            <!-- Start Scroll Zone 1 -->
            <div className="snap-start min-h-screen bg-my-purple sm:bg-no-repeat sm:bg-cover flex justify-center">
                <Home></Home>
            </div>
            <!-- Stop Scroll Zone 1 -->
            <!-- Start Scroll Zone 2 -->
            <!-- <div
                className="snap-start min-h-screen bg-my-purple sm:bg-wave2 sm:bg-no-repeat sm:bg-cover flex justify-center">
                <TechStackStart></TechStackStart>
            </div>
            <div
                className="snap-start min-h-screen bg-my-purple sm:bg-wave2 sm:bg-no-repeat sm:bg-cover flex justify-center">
                <TechStackEnd></TechStackEnd>
            </div> -->
            <!-- Stop Scroll Zone 2 -->
            <!-- Start Scroll Zone 3 -->
            <div
                className="snap-start min-h-screen bg-my-purple sm:bg-wave3 sm:bg-no-repeat sm:bg-cover flex justify-center">
                <div className="flex flex-col">
                    <div>
                        <MyCV></MyCV>
                    </div>
                    <div className="mt-auto">
                        <Footer></Footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Home from '../components/Home.vue'
import TechStackStart from '../components/TechStackStart.vue'
import TechStackEnd from '../components/TechStackEnd.vue'
import MyCV from '../components/MyCV.vue'
import Footer from '../components/Footer.vue'
export default {
    components: { Home, TechStackStart, TechStackEnd, MyCV, Footer }
};
</script>

<style>

</style>