<template>
    <div class="grid grid-cols-6 gap-4 pt-10">
        <div class=""></div>
        <div class="col-span-4">
            <h1 class="font-semibold text-xl">Legal Disclosure</h1>
            <hr>
            <p>Niklas Diekmann</p>
            <p>Marschweg 7</p>
            <p>26122 Oldenburg</p>
            <p>Germany</p>
        </div>
        <div class=""></div>

        <div class=""></div>
        <div class="col-span-4">
            <h1 class="font-semibold text-xl">Contact</h1>
            <hr>
            <!-- T: (+49) -->
            <p>M: mail@niklas-diekmann.de</p>
            <p>W: niklas-diekmann.de</p>
        </div>
        <div class=""></div>

        <div class=""></div>
        <div class="col-span-4">
            <h1 class="font-semibold text-xl">VAT ID</h1>
            <hr>
            <p>VAT identification number pursuant to section 27a of the German Value Added Tax Act (UStG):</p>
            <p>64/109/27898</p>
        </div>
        <div class=""></div>

        <div class=""></div>
        <div class="col-span-4">
            <h1 class="font-semibold text-xl">Privacy Policy</h1>
            <hr>
            <p>This website is a static website and does not collect, store, or process any personal information. The
                use
                of this website does not require any cookies to be stored on your device.</p>
        </div>
        <div class=""></div>

        <div class=""></div>
        <div class="col-span-4">
            <h1 class="font-semibold text-xl">Third Party Inclusion</h1>
            <hr>
            <p>This website is hosted on Gitlab Pages.</p>
        </div>
        <div class=""></div>

        <div class=""></div>
        <div class="col-span-4">
            <h1 class="font-semibold text-xl">External Links Disclaimer</h1>
            <hr>
            <p>The website contains links to other websites belonging to third parties. I do not warrant, endorse,
                guarantee, or assume responsibility for the accuracy or reliability of any information offered by third
                party websites.</p>
        </div>
        <div class=""></div>
        <div class=""></div>
        <div class="col-span-4">
            <hr>
            <p>The above information is provided exclusively for legal reasons and may not be used for unsolicited
                advertisement or be passed on to third parties.</p>
        </div>
        <div class=""></div>
    </div>
</template>

<script>
</script>

<style></style>