<template>
    <!-- Companies i worked for-->
    <div class="bg-my-purple companies h-56 min-w-full pb-16">
        <div class="flex mx-auto px-2 min-h-full">
            <div class="flex grow space-x-5 pb-4 justify-center items-end pr-28">
                <img class="max-h-8" src="../assets/panasonic_logo.png" alt="Panasonic" />
                <img class="max-h-8" src="../assets/ewe_logo.png" alt="Panasonic" />
            </div>
            <div class="flex grow space-x-5 pb-4 justify-center items-end">
            </div>
            <div class="flex grow space-x-2 pb-4 justify-end items-end">
                <div>
                    <!-- Gitlab SVG  -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        style="fill: rgba(255, 255, 255, 1); transform: ; msfilter: ">
                        <path
                            d="M20.892 9.889a.664.664 0 0 0-.025-.087l-2.104-6.479a.84.84 0 0 0-.8-.57.822.822 0 0 0-.789.575l-2.006 6.175H8.834L6.826 3.327a.823.823 0 0 0-.786-.575h-.006a.837.837 0 0 0-.795.575L3.133 9.815c0 .005-.005.01-.007.016l-1.067 3.281a1.195 1.195 0 0 0 .435 1.34l9.227 6.706c.167.121.393.12.558-.003l9.229-6.703a1.2 1.2 0 0 0 .435-1.34l-1.051-3.223zM17.97 3.936l1.809 5.566H16.16l1.81-5.566zm-11.94 0 1.812 5.566H4.228L6.03 3.936zm-2.982 9.752a.253.253 0 0 1-.093-.284l.793-2.437 5.817 7.456-6.517-4.735zm1.499-3.239h3.601l2.573 7.916-6.174-7.916zm7.452 8.794-2.856-8.798h5.718l-1.792 5.515-1.07 3.283zm1.282-.877 2.467-7.588.106-.329h3.604l-5.586 7.156-.591.761zm7.671-4.678-6.519 4.733.022-.029 5.794-7.425.792 2.436a.25.25 0 0 1-.089.285z" />
                    </svg>
                </div>
                <div>
                    <!-- Github SVG -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        style="fill: rgba(255, 255, 255, 1); transform: ; msfilter: ">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z" />
                    </svg>
                </div>
                <div>
                    <!-- LinkedIn SVG -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        style="fill: rgba(255, 255, 255, 1); transform: ; msfilter: ">
                        <circle cx="4.983" cy="5.009" r="2.188" />
                        <path
                            d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
</script>

<style scoped>
.companies {
    /* background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none"><path fill="purple" d="M0,288L60,240C120,192,240,96,360,64C480,32,600,64,720,69.3C840,75,960,53,1080,85.3C1200,117,1320,203,1380,245.3L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>'); */
    background-image: url('../assets/companies.png');
    background-size: 100% 100%
        /* background-size: cover; */
        /* background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166 166"><polygon fill="red" points="83 26.8 65.7 61.8 27.1 67.4 55 94.7 48.5 133.2 83 115 117.5 133.2 111 94.7 138.9 67.4 100.3 61.8 83 26.8 83 26.8"/></svg>');  */
}
</style>
