<template>
    <div id="footer" ref="footer" class="text-center text-white">
        <p>
            Copyright © Niklas Diekmann – <router-link to="/legal-notice">Legal Notice</router-link>
        </p>
        <!-- <div id="footer-social-links">
            <a href="mailto:mail@niklas-diekmann.de" class="mx-2">
                <box-icon name="mail-send" color="#272829" size="md"></box-icon>
            </a>
            <a href="https://www.linkedin.com">
                <box-icon type="logo" name="linkedin" color="#272829" size="md"></box-icon>
            </a>
        </div> -->
    </div>
</template>

<script>
import 'boxicons'
export default {
    components: {
    },
};
</script>

<style>
</style>