<template>
  <div>
    <!-- {/* Navbar */} -->
    <div className="text-white flex items-center justify-between p-4">
      <div className="text-white text-2xl font-bold">
        <img width="48" height="48" src="../assets/logo.png" alt="Logo" />
      </div>
      <div className="flex space-x-2">
        <div>
          <!-- LinkedIn SVG -->
          <a href="https://www.linkedin.com/in/niklas-diekmann-09ba8b256/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;">
              <circle cx="4.983" cy="5.009" r="2.188"></circle>
              <path
                d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z">
              </path>
            </svg>
          </a>
        </div>
        <div>
          <!-- Xing SVG -->
          <a href="https://www.xing.com/profile/Niklas_Diekmann/cv">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;">
              <path
                d="M5 6a.4.4 0 0 0-.38.62l2 3.38-3.06 5.4a.45.45 0 0 0 0 .45.43.43 0 0 0 .38.19h2.87a.89.89 0 0 0 .79-.55s3-5.31 3.11-5.51l-2-3.46A.91.91 0 0 0 7.92 6zm12.16-4a.84.84 0 0 0-.77.55L10 13.93l4.09 7.52a.91.91 0 0 0 .81.55h2.88a.43.43 0 0 0 .38-.18.45.45 0 0 0 0-.45l-4.07-7.43 6.36-11.31a.45.45 0 0 0 0-.45.44.44 0 0 0-.38-.18z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
}
</script>

<style>
.header {
  background-color: #0c0a1d;
}
</style>