<template>
    <div className="max-w-7xl grow flex flex-col">
        <Header></Header>
        <!-- {/* Content */} -->
        <div className="grow justify-end flex relative">
            <div className="absolute flex flex-col px-16 w-full bottom-[5%] lg:top-[22%] space-y-8 lg:space-y-20">
                <!-- {/* Text */} -->
                <div className="flex flex-col space-y-4 lg:text-right lg:max-w-lg">
                    <div className="text-white text-6xl md:text-7xl tracking-wider">
                        Hey there,
                    </div>
                    <div className="text-white text-6xl md:text-7xl tracking-wider">
                        I'm <span className="font-semibold">Niklas.</span>
                    </div>
                </div>
                <!-- {/* Terminal */} -->
                <div className="flex flex-col space-y-10 lg:max-w-lg">
                    <div className="relative flex">
                        <div className="h-32 bg-black rounded-md border border-gray-600 opacity-90 grow">
                        </div>
                        <div className="absolute top-0 p-4 font-mono text-xl text-gray-300 tracking-wider">
                            ~$ fullstack developer
                        </div>
                    </div>
                    <!-- {/* Buttons */} -->
                    <div className="flex justify-between space-x-4">
                        <a href="mailto:mail@niklas-diekmann.de" className="grow flex">
                            <button
                                className="bg-[#5B3FD2] text-white font-semibold grow p-2 py-4 rounded-md tracking-wide">
                                CONTACT ME
                            </button>
                        </a>
                        <a href="https://gitlab.com/ndiekmann-freelancing/my-site/-/raw/main/src/assets/NiklasDiekmannResume.pdf?inline=false"
                            download class="grow flex">
                            <button className="bg-slate-50 grow p-2 rounded-md tracking-wide py-4">
                                DOWNLOAD CV
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <img className="object-cover" src="../assets/me.png" alt="Me"/>
        </div>
    </div>
</template>

<script>
import Header from './Header.vue'
export default {
    components: { Header },
    data() {
    },
};
</script>
