<template>
  <section id="techstack" ref="techstack" class="bg-my-purple pt-16">
    <div class="justify-center grid grid-cols-1 px-48">
      <div class="row-span-1">
        <div>
          <h3 class="text-center text-white text-2xl md:text-3xl tracking-wider">Technologies</h3>
        </div>
      </div>

      <div class="flex flex-wrap gap-3 justify-evenly">
        <!-- JAVA -->
        <div class="flex items-center justify-center w-80 h-80">
          <a href="https://openjdk.java.net/" target="_blank">
            <svg class="grow-transition" width="96px" height="96px" viewBox="-3 0 24 24"
              style="fill: rgba(255, 255, 255, 1);" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m5.701 18.561s-.918.534.653.714c.575.085 1.239.134 1.913.134 1.084 0 2.138-.125 3.149-.363l-.093.018c.374.228.809.445 1.262.624l.059.02c-4.698 2.014-10.633-.117-6.942-1.148z" />
              <path
                d="m5.127 15.933s-1.029.762.542.924c.687.086 1.482.136 2.289.136 1.461 0 2.884-.162 4.252-.468l-.129.024c.275.258.604.463.968.596l.02.006c-5.68 1.661-12.008.131-7.942-1.218z" />
              <path
                d="m9.966 11.475c1.158 1.333-.304 2.532-.304 2.532s2.939-1.52 1.59-3.418c-1.261-1.772-2.228-2.653 3.006-5.688 0 0-8.216 2.052-4.292 6.574z" />
              <path
                d="m16.18 20.505s.678.56-.747.992c-2.712.822-11.287 1.07-13.67.033-.856-.373.75-.89 1.254-.998.232-.059.499-.093.774-.093h.057-.003c-.952-.671-6.155 1.318-2.64 1.886 9.579 1.554 17.462-.7 14.978-1.82z" />
              <path
                d="m6.142 13.21s-4.362 1.036-1.545 1.412c.759.063 1.644.098 2.536.098 1.139 0 2.264-.058 3.372-.171l-.139.012c1.805-.152 3.618-.48 3.618-.48-.425.186-.785.382-1.126.605l.029-.018c-4.43 1.165-12.986.623-10.523-.569 1.086-.563 2.372-.893 3.734-.893h.046-.002z" />
              <path
                d="m13.966 17.585c4.502-2.34 2.421-4.588.967-4.286-.199.037-.372.085-.539.146l.023-.007c.095-.134.226-.237.379-.295l.006-.002c2.874-1.01 5.086 2.981-.928 4.56.037-.033.067-.072.089-.115l.001-.002z" />
              <path
                d="m11.252 0s2.494 2.494-2.366 6.33c-3.896 3.077-.889 4.831 0 6.836-2.274-2.052-3.943-3.858-2.824-5.54 1.644-2.468 6.197-3.664 5.19-7.627z" />
              <path
                d="m6.585 23.925c4.32.277 10.96-.154 11.12-2.198 0 0-.302.775-3.572 1.391-1.806.326-3.885.512-6.008.512-1.739 0-3.448-.125-5.121-.366l.191.023s.553.458 3.393.64z" />
            </svg>
          </a>
        </div>

        <!-- SPRING -->
        <div class="flex items-center justify-center w-80 h-80">
          <a href="https://spring.io/projects/spring-boot" target="_blank">
            <svg class="grow-transition" width="96px" height="96px" viewBox="0 0 24 24" role="img"
              style="fill: rgba(255, 255, 255, 1);" xmlns="http://www.w3.org/2000/svg">
              <title>Spring icon</title>
              <path
                d="M21.822 1.248c-.338.806-.766 1.57-1.281 2.272A12.045 12.045 0 0012.03 0C5.431 0 0 5.43 0 12.031c0 3.293 1.35 6.445 3.737 8.717l.444.393a12.041 12.041 0 007.75 2.83c6.275 0 11.55-4.911 11.997-11.172.328-3.065-.572-6.941-2.106-11.55zM5.447 20.817c-.194.24-.49.38-.8.38a1.033 1.033 0 01-1.028-1.03c0-.564.465-1.03 1.028-1.03a1.032 1.032 0 01.8 1.68zm16.325-3.602c-2.969 3.954-9.31 2.622-13.375 2.812 0 0-.722.044-1.447.162 0 0 .272-.115.625-.25 2.853-.992 4.203-1.185 5.937-2.075 3.266-1.66 6.494-5.293 7.166-9.072-1.244 3.636-5.012 6.76-8.447 8.03-2.353.867-6.603 1.71-6.603 1.71l-.172-.09c-2.894-1.408-2.981-7.672 2.278-9.694 2.303-.886 4.507-.4 6.994-.992 2.656-.63 5.728-2.622 6.978-5.219 1.4 4.154 3.085 10.658.066 14.678z" />
            </svg>
          </a>
        </div>

        <!-- VUE -->
        <div class="flex items-center justify-center w-80 h-80">
          <a href="https://vuejs.org/" target="_blank">
            <svg class="grow-transition" width="96px" height="96px" viewBox="0 0 15 15" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.71693 1H0.5C0.320967 1 0.155598 1.09572 0.0664289 1.25097C-0.0227402 1.40622 -0.0220988 1.59729 0.0681106 1.75194L7.06811 13.7519C7.15772 13.9055 7.32217 14 7.5 14C7.67783 14 7.84228 13.9055 7.93189 13.7519L14.9319 1.75194C15.0221 1.59729 15.0227 1.40622 14.9336 1.25097C14.8444 1.09572 14.679 1 14.5 1H12.2831L7.50004 8.97184L2.71693 1Z"
                fill="white" />
              <path d="M11.1169 1H8.191L7.50002 2.38197L6.80903 1H3.88312L7.50004 7.02819L11.1169 1Z" fill="white" />
            </svg>
          </a>
        </div>

        <!-- TERRAFORM -->
        <div class="flex items-center justify-center w-80 h-80">
          <a href="https://www.terraform.io/" target="_blank">
            <svg class="grow-transition" width="96px" height="96px" viewBox="0 0 24 24" role="img"
              style="fill: rgba(255, 255, 255, 1);" xmlns="http://www.w3.org/2000/svg">
              <title>Terraform icon</title>
              <path
                d="M8.283 4.265l7.433 3.776v7.551l-7.433-3.776V4.265zm8.248 3.776v7.551l7.436-3.776V4.265l-7.436 3.776zM.035.051v7.551l7.433 3.776V3.827L.035.051zm8.248 20.141l7.433 3.776V16.42l-7.433-3.776v7.548z" />
            </svg>
          </a>
        </div>

        <!-- AWS -->
        <div class="flex items-center justify-center w-80 h-80">
          <a href="https://aws.amazon.com/" target="_blank">
            <svg class="grow-transition" width="96px" height="96px" viewBox="0 0 24 24"
              style="fill: rgba(255, 255, 255, 1);" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m12.248 6.685c-.656 2.694-.614 2.55-1.209 5.014-.013.227-.201.406-.43.406-.025 0-.05-.002-.074-.006h.003-.675c-.02.004-.044.006-.067.006-.203 0-.37-.151-.396-.346v-.002c-.577-1.846-1.35-4.41-1.87-6.125-.192-.633-.066-.618.436-.605.174.005.342 0 .515 0 .012-.001.026-.002.041-.002.196 0 .358.145.385.333v.002c.169.605.281 1.069 1.246 4.88.018.075.042.146.066.215h.051c.023-.094.051-.182.075-.277q.548-2.313 1.092-4.63c.113-.48.314-.525.8-.525h.356c.32.005.422.07.502.389.281 1.097 1.102 4.77 1.251 5.174.24-.858-.084.37 1.336-5.108.098-.379.192-.454.577-.454h.591c.253.005.328.084.267.333-.113.446-.136.464-1.935 6.228-.146.464-.197.506-.684.506h-.497c-.342 0-.431-.061-.515-.394-.202-.759-1.092-4.485-1.238-5.01zm-6.364 5.211c.068.139.208.233.37.233.114 0 .216-.046.291-.121l.295-.197c.32-.211.342-.295.169-.633-.186-.354-.296-.773-.296-1.218 0-.015 0-.03 0-.045v.002c0-.146.028-2.61-.042-3.13-.062-.87-.665-1.584-1.471-1.811l-.014-.003c-.353-.098-.758-.154-1.177-.154-.126 0-.252.005-.375.015l.016-.001c-.736.029-1.42.224-2.025.547l.025-.012c-.091.049-.159.13-.191.227l-.001.003c-.026.118-.041.254-.041.393 0 .061.003.122.008.182l-.001-.008c.028.277.122.328.384.24.24-.08.469-.182.708-.253.345-.128.743-.202 1.159-.202.323 0 .635.045.931.128l-.024-.006c.317.095.564.334.668.639l.002.007c.077.258.122.554.122.861 0 .094-.004.188-.012.28l.001-.012c0 .258-.005.258-.258.211-.43-.107-.923-.169-1.431-.169-.187 0-.373.008-.556.025l.024-.002c-.726.053-1.36.406-1.787.933l-.004.005c-.26.36-.416.811-.416 1.298 0 .197.025.387.073.569l-.003-.016c.104.682.588 1.228 1.225 1.422l.012.003c.28.1.603.158.94.158.667 0 1.282-.227 1.77-.608l-.006.005c.178-.131.338-.29.52-.446.146.234.272.454.417.656zm-.72-2.887h.005c.111 0 .201.09.201.201 0 .014-.001.027-.004.041v-.001c-.01.178.005.356-.014.534-.05.523-.377.959-.83 1.164l-.009.004c-.294.154-.641.245-1.01.245-.075 0-.149-.004-.222-.011l.009.001c-.529-.031-.946-.467-.946-1.001 0-.082.01-.162.029-.239l-.001.007c.026-.548.46-.987 1.004-1.021h.003c.21-.034.452-.053.698-.053.388 0 .766.048 1.126.138l-.032-.007zm16.346 3.051c.825-.277 1.408-1.043 1.408-1.945 0-.141-.014-.279-.041-.412l.002.013c-.107-.653-.564-1.177-1.169-1.379l-.012-.004c-.912-.286-1.659-.575-2.383-.905l.129.053c-.209-.105-.351-.315-.356-.559v-.001c-.006-.037-.009-.079-.009-.122 0-.419.318-.763.726-.805h.003c.211-.05.453-.078.702-.078.217 0 .43.022.635.063l-.02-.003c.342.066.67.197 1.003.295.131.042.277.098.366-.075.046-.097.073-.211.073-.33 0-.298-.166-.557-.411-.689l-.004-.002c-.494-.236-1.074-.373-1.686-.373-.546 0-1.066.11-1.54.308l.026-.01c-.725.288-1.228.984-1.228 1.797 0 .779.462 1.451 1.127 1.755l.012.005c.361.174.754.277 1.134.417s.759.272 1.13.426c.256.142.427.411.427.72 0 .286-.146.537-.368.684l-.003.002c-1.298.72-3.04-.113-3.243-.178-.154-.051-.248.01-.295.174-.038.089-.06.193-.06.302 0 .369.255.679.599.761l.005.001c.531.213 1.146.336 1.79.336.546 0 1.072-.089 1.563-.253l-.035.01zm-7.634 7.625c2.498-.268 4.766-1.052 6.763-2.244l-.076.042c.375-.22.726-.48 1.082-.736.342-.24.15-.862-.53-.572-2.344 1.029-5.066 1.687-7.925 1.821l-.051.002c-.3.015-.651.023-1.004.023-1.152 0-2.284-.088-3.389-.258l.123.016c-3.117-.449-5.924-1.458-8.429-2.927l.109.059c-.088-.059-.189-.107-.297-.139l-.008-.002c-.23-.051-.361.22-.113.454 3.069 2.838 7.189 4.578 11.716 4.578h.014-.001c.675-.038 1.35-.042 2.015-.117zm8.187-4.32c.694.038.909.277.736.946-.178.694-.436 1.369-.651 2.053-.042.136-.197.295-.038.413.174.122.305-.047.422-.154.455-.433.813-.962 1.044-1.555l.01-.029c.258-.564.408-1.224.408-1.919 0-.016 0-.031 0-.047v.002c-.01-.29-.084-.413-.366-.492-.224-.069-.487-.122-.757-.148l-.016-.001c-.183-.023-.394-.036-.609-.036-.836 0-1.626.197-2.327.546l.03-.014c-.155.084-.289.176-.412.28l.004-.003c-.051.042-.15.248.113.286.024.002.053.003.081.003.069 0 .137-.006.202-.018l-.007.001c.526-.075 1.134-.118 1.751-.118.134 0 .267.002.4.006h-.019z" />
            </svg>
          </a>
        </div>

        <!-- DOCKER -->
        <div class="flex items-center justify-center w-80 h-80">
          <a href="https://www.docker.com/" target="_blank">
            <svg class="grow-transition" width="96px" height="96px" viewBox="0 0 24 24"
              style="fill: rgba(255, 255, 255, 1);" xmlns="http://www.w3.org/2000/svg" xml:space="preserve">
              <path
                d="M21.803 10.242c-.054-.043-.561-.425-1.628-.425a5.152 5.152 0 0 0-.841.072c-.207-1.417-1.378-2.107-1.43-2.138l-.287-.165-.189.272a3.851 3.851 0 0 0-.51 1.192c-.191.809-.075 1.568.336 2.218-.496.276-1.292.344-1.453.35H2.626a.626.626 0 0 0-.625.623 9.483 9.483 0 0 0 .577 3.385c.454 1.19 1.129 2.067 2.007 2.603.984.603 2.584.947 4.396.947.819.003 1.636-.072 2.441-.221a10.235 10.235 0 0 0 3.186-1.157 8.75 8.75 0 0 0 2.174-1.78c1.044-1.182 1.666-2.497 2.128-3.667h.184c1.143 0 1.846-.457 2.233-.841.258-.244.459-.542.589-.872l.084-.24-.197-.156z" />
              <path
                d="M3.847 11.231h1.765a.154.154 0 0 0 .154-.154V9.505a.154.154 0 0 0-.153-.155H3.847a.154.154 0 0 0-.154.154V11.078c0 .084.069.153.154.153M6.28 11.231h1.765a.154.154 0 0 0 .154-.154V9.505a.153.153 0 0 0-.153-.155H6.28a.154.154 0 0 0-.155.155v1.573c.001.084.07.153.155.153M8.75 11.231h1.765a.154.154 0 0 0 .154-.154V9.505a.154.154 0 0 0-.153-.155H8.75a.154.154 0 0 0-.154.154V11.078c0 .084.069.153.154.153M11.19 11.231h1.765a.155.155 0 0 0 .155-.154V9.505a.154.154 0 0 0-.155-.155H11.19a.154.154 0 0 0-.154.154V11.078c0 .084.069.153.154.153M6.28 8.969h1.765c.085 0 .154-.07.154-.155V7.242a.154.154 0 0 0-.154-.154H6.28a.155.155 0 0 0-.155.154v1.573c.001.084.07.154.155.154M8.75 8.969h1.765c.085 0 .154-.07.154-.155V7.242a.154.154 0 0 0-.154-.154H8.75a.154.154 0 0 0-.154.154v1.573c0 .084.069.154.154.154M11.19 8.969h1.765c.085 0 .155-.07.155-.155V7.242a.155.155 0 0 0-.155-.154H11.19a.154.154 0 0 0-.154.154v1.573c0 .084.069.154.154.154M11.19 6.706h1.765a.155.155 0 0 0 .155-.154V4.978a.155.155 0 0 0-.155-.154H11.19a.154.154 0 0 0-.154.154v1.573c0 .086.069.155.154.155M13.653 11.231h1.765a.155.155 0 0 0 .155-.154V9.505a.154.154 0 0 0-.155-.155h-1.765a.154.154 0 0 0-.154.154V11.078a.153.153 0 0 0 .154.153" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import 'boxicons'
export default {
  components: {
  },
};
</script>

<style scoped>
.grow-transition {
  transition: all .2s ease-in-out;
}

.grow-transition:hover {
  transform: scale(1.1);
}
</style>