<template>
  <div>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Home from './components/Home.vue'
import TechStack from './components/TechStack.vue'
import MyCV from './components/MyCV.vue'
import Footer from './components/Footer.vue'
export default {
  components: { Header, Home, TechStack, MyCV, Footer }
};
</script>

<style>
#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* color: #2c3e50; */
}

body {
  /* font-family: "Open Sans", sans-serif; */
  color: #272829;
}

:root {
  /* --primary-color: #72b626; */
  /* --primary-color-hover: #a8e761; */
  --primary-color: #313c4e;
  --primary-color-hover: #61769a;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
</style>
